{% extends 'Juanber84ScheduleBundle::layout.html.twig' %}

{% block body -%}
    <h4 class="text book inline"><span class="icon exchange color theme "></span> Activities creation</h4>  

    <form action="{{ path('schedule_activitys_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <br>
        <ul class="record_actions">
        <li>
            <button type="submit">Create</button>
        </li>
        
    </form>
    <li>
        <a class="button secondary"  href="{{ path('schedule_activitys') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
