{% extends 'Juanber84ScheduleBundle::layout.html.twig' %}

{% block body -%}

    <h4 class="text book inline"><span class="icon pencil color theme "></span> Jobs creation</h4>    

    <form action="{{ path('schedule_jobs_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <ul class="record_actions">
            <li>
            <button type="submit">Create</button>
        </li>
    </form>


    <li>
        <a class="button secondary" href="{{ path('schedule_jobs') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
