<html>
	<head>
		{% stylesheets 'bundles/juanber84schedule/css/*' filter='cssrewrite' %}
	    	<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>